.wrapper {
  max-width: 1206px;
  margin: 0 auto;
  min-height: calc(100vh - 292px);
  padding-top: 20px;
}

.txInfoWrapper {
  height: 500px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .infoBox {
    max-width: 577px;
    padding-top: 42px;
    .title {
      font-size: 24px;
      line-height: 24px;
      font-weight: normal;
      color: #EFEFEF;
    }
    .linksWrapper {
      height: 18px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      margin-top: 26px;
      .linkItem {
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 17px;
      }
    }
    .totalWrapper {
      margin-top: 26px;
      font-size: 12px;
      color: #E9E9E9;
      span {
        color: #FFF;
        font-size: 16px;
        margin-left: 15px;
        margin-right: 47px;
      }
    }
  }
}

.image {
  width: 500px;
  height: 500px;
}