.wrapper {
  //width: 100%;
  margin: 0 138px;
  position: relative;
  padding-top: 67px;
  min-height: calc(100vh - 292px);
}

.title {
  font-size: 26px;
  line-height: 26px;
  color: #EFEFEF;
}

.itemsList {
  position: relative;
  display: grid;
  grid-template-columns:repeat(auto-fill, 260px);
  grid-template-rows: repeat(auto-fill, 335px);
  margin-top: 50px;
  grid-gap: 22px;
  padding-bottom: 100px;
}